<!-- AOS :animation on scroll-->
<!-- <section class="main">
    <aside data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0"
        class="container">
        <aside class="card1" data-aos="fade-left">
            <img src="\assets\Tesla_smart_1.jpg" alt="" width="100%" height="160rem">
        </aside>
        <aside class="card1" data-aos="fade-down-right">
            <img src="\assets\Tesla_smart_1.jpg" alt="" width="100%">
        </aside>
        <aside class="card1" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <img src="\assets\Tesla_smart_1.jpg" alt="" width="100%">
        </aside>
        <aside class="card1" data-aos="fade-up" data-aos-anchor-placement="bottom-center">
            <img src="\assets\Tesla_smart_1.jpg" alt="" width="100%">
        </aside>
        <aside class="card1" data-aos="flip-right">
            <img src="\assets\Tesla_smart_1.jpg" alt="" width="100%">
        </aside>
        <aside class="card1" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <img src=" \assets\Tesla_smart_1.jpg" alt="" width="100%">
        </aside>
        <aside class="card1" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
            <img src="\assets\Tesla_smart_1.jpg" alt="" width="100%">
        </aside>
        <aside class="card1">
            <img src="\assets\Tesla_smart_1.jpg" alt="" width="100%">
        </aside>
        <aside class="card1">
            <img src="\assets\Tesla_smart_1.jpg" alt="" width="100%">
        </aside>
    </aside>
</section> -->

<!-- button-animation -->
<!-- <section class="main">
    <button class="btn">Submit</button>
</section> -->

<!-- text-animation -->
<!-- <section class="main">
    <h1 class="header">main-condent</h1>
    <h3 class="body">sub-condent</h3>
    <h3 class="rotate">sub-condent</h3>
</section> -->

<!-- animation another using persentage -->
<!-- <section class="container">
    <aside class="child"></aside>
</section> -->

<!--rotate  -->
<!-- <section class="container">
    <h1>box</h1>
</section> -->